node_modules/

#My ignore
Content/
HistCher/
MyPhoto/
ThingUSSR/
Thing90/
main/
*.lnk
*.cmd
css
js
__snapshots__/
coverage/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
packages/